.form-field .form-floating:focus-within {
    z-index: 2;
}

.form-field input[type="email"] {
    margin-bottom: -1px;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
}

.form-field input[type="password"] {
    margin-bottom: 10px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}

.form-registration input {
    border-radius: 0;
}

@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

body {
    font-family: "Roboto", sans-serif;
}

.about-main {
    padding: 100px;
    width: 800px;
    height: 520px;
    margin: 0 auto;
    padding-top: 20px;
    border-radius: 10px;
    border: 2px solid #ff4444;
}
.ul-about {
    padding-top: 50px;
    text-align: center;
    margin-left: -45px;
}
.li-about {
    text-align: center;
    list-style: none;
    display: inline-block;
}

.img-about {
    background-image: url(/img/download.jpg);
    background-color: #eaeaea;
    background-size: cover;
    border-radius: 100px;
    width: 200px;
    height: 200px;
    margin: 0 auto;
    border: 1px solid #eaeaea;
}

.h1-about {
    text-align: center;
    font-size: 30px;
    margin: 0;
    font-weight: bold;
    color: #ff4444;
}

.text-about {
    text-align: center;
    font-size: 15px;
    margin: 0;
}

.p-about {
    text-align: center;
    margin: 0 auto;
    padding-top: 20px;
    width: 450px;
    height: auto;
}

#home {
    padding-top: 5rem;
    background-color: #e2edff;
}

#about {
    background-color: #e2edff;
}
#parthner {
    background-color: #e2edff;
}

section {
    padding-top: 5rem;
}
